{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "bracketSameLine": true,
    "jsxSingleQuote": false,
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false
}