.survey-container.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  padding: 10vh 10vw;
  justify-content: space-around;
  font-size: 3vw;
  background: #ccc;
  width: 90%;
  margin: auto;
  border-radius: 10px; }

.survey-container .qcm h4, .survey-container .numeric h4, .survey-container .date h4 {
  font-weight: bold;
  font-size: 2em; }
